*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(back.png);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.nav-bar{
    display: flex;
    padding: 40px 120px;
}
.nav-logo img{
    width: 130px;
    border-radius: 10px;
}
.nav-links{
    flex: 1;
}
.nav-links ul{
    margin-left: 80px;
    display: inline;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
}
.nav-links ul a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li:hover{
    color: yellow;
}
.btn{
padding: 10px 20px;
border: 0;
background-color: yellow;
font-weight: bold;
cursor: pointer;
border-radius: 10px;
}
.nav-links .btn{
    float: right;
}
.title{
    color: white;
    padding: 50px 80px;
    font-style: italic;
}
.vertical{
    height: 100%;
    background-color:black;
    top: 0;
    left: 0;
    position: absolute;
    color:white;
    
}
.menu{
    height: 60%;
    width: 80px;
    text-align: center;
    
}
.menu .fa{
    padding: 40px;
    

}
.social-icons{
    height: 35%;
    width: 80px;
    background-color: yellow;
    text-align: center;
    padding-top: 25%;
    bottom: 0;
    position: absolute;
    color:black;
}
.social-icons .fa{
    margin: 15px 25px;
    display: block;
    padding: 8px;
    border-radius: 50%;
    border:1px solid #000;
    cursor: pointer;

}
.nav-bar .fa{
    display: none;
}
@media (max-width:700px){
    .vertical{
        display: none;
    }
    .title{
        margin: 80px 40px;
    }
    .title h1{
        font-size: 15px;
    }
    .nav-bar{
        padding: 10px 30px;
    }
    .fa-bars{
        position: absolute;
        right: 20px;
        top: 10px;
        
    }
    .nav-bar .fa{
        display: block;
        color:white;
        margin: 10px 25px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links{
        height: 100vh;
        width: 150px;
        background: #000;
        top: 0;
        right: -150px;
        position: absolute;
        text-align: left;
        z-index: 2;
    }
    .nav-links ul a{
        display: block;
       
        
    }
    .nav-links .btn{
        float: none;
        margin-left: 25px;
        margin-top: 10px;
    }

    }
